{{ $headless := .Site.GetPage "/headless" }}
{{ $reusablePages := $headless.Resources.GetMatch (strings.TrimPrefix "/headless/" "footer.md" ) }}

<footer class="centered">
  <img src="/images/logo.svg" class="logo" alt="Hammaslääkäripalvelu Lähteenoja">
  <p><strong>{{ $reusablePages.Params.address }}</strong></p>
  <p>
    <a href="mailto:{{ $reusablePages.Params.email }}">{{ $reusablePages.Params.email }}</a>
  </p>
  <p>
    <a href="{{ $reusablePages.Params.whatsappLink }}" aria-label="Whatsapp" target="_blank" rel="noreferrer noopener">
      {{ $reusablePages.Params.phone }}
    </a>
  </p>
</footer>